In [6]:
import pandas as pd 

data = {
  "Nome" : ['Ana', 'Bruno', 'Carlos', 'Diana'],
  'Idade': [28, 34, 45 ,22], 
  'Cidade': ['São Paulo', 'Rio de Jnaeiro', 'Belo Horizonte', 'Curitiba']
}

df = pd.DataFrame(data)

In [3]:
pip install openpyxl

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: openpyxl in c:\users\nicolas_santana\appdata\roaming\python\python39\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\nicolas_santana\appdata\roaming\python\python39\site-packages (from openpyxl) (1.1.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 21.2.3; however, version 24.2 is available.
You should consider upgrading via the 'C:\Program Files\Python39\python.exe -m pip install --upgrade pip' command.

In [7]:
import openpyxl

caminho = (r"C:\Users\nicolas_santana\Downloads\PythonPanda.xlsx")

df2 = pd.read_excel(caminho, engine = 'openpyxl')

In [ ]:
df.head()

In [13]:
import pandas as pd
import numpy as np 

num_rows = 100
num_cols = 5

data = {
  'ID':np.arange(1,num_rows + 1),
  'Nome':[f'Nome_{i}'for i in range(1, num_rows +1)],
  'Idade': np.random.randint(18,70,size=num_rows),
  'Salario': np.random.uniform(2000, 10000,size=num_rows).round(2),
  'Cidade':np.random.choice(['São Paulo', 'Rio de Janeiro', 'Belo Horizonte', 'Curitiba', 'Porto Alegre'],
  size=num_rows)
}

df = pd.DataFrame(data)

In [14]:
df_filtrado = df[df['Salario'] > 5000]

In [21]:
df_filtrado2 = df[(df['Salario'] > 5000) & (df['Cidade'] == 'São Paulo')]

In [26]:
df_filtrado3 = df[(df['Salario'] > 5000) | (df['Cidade'] == 'São Paulo')]

In [27]:
df['Receita'] = df['Idade'] * df['Salario']

In [28]:
def elevar_ao_quadrado(x):
    return x ** 2

In [33]:
elevar_ao_quadrado(5)

25

In [29]:
df ['Quantidade_Vendida_Quadrado'] = df ['Idade'].apply(elevar_ao_quadrado)

In [30]:
df ['Idade'].min()

np.int32(18)

In [31]:
df ['Salario'].sum()

np.float64(623778.17)

,ID,Nome,Idade,Salario,Cidade,Receita,Quantidade_Vendida_Quadrado
0,1,Nome_1,64,2124.19,Belo Horizonte,135948.16,4096
1,2,Nome_2,61,9214.62,Rio de Janeiro,562091.82,3721
2,3,Nome_3,68,5952.05,Porto Alegre,404739.40,4624
3,4,Nome_4,60,5115.97,Porto Alegre,306958.20,3600
4,5,Nome_5,18,9146.37,São Paulo,164634.66,324
...,...,...,...,...,...,...,...
95,96,Nome_96,22,2868.29,São Paulo,63102.38,484
96,97,Nome_97,61,6327.65,Rio de Janeiro,385986.65,3721
97,98,Nome_98,64,6660.92,Curitiba,426298.88,4096
98,99,Nome_99,47,2334.34,São Paulo,109713.98,2209
99,100,Nome_100,20,7363.20,Porto Alegre,147264.00,400